In [3]:
import pandas as pd

df = pd.read_csv('data/Uber1.csv') 
df.head()

,Unnamed: 0,Request id,Pickup point,Driver id,Status,Request timestamp,Request hour,Request timeslot,Request dayofweek,TripComp,NoCars,Cancel,demand,supply,gap,Supply demand gap
0,0,619,Airport,1,Trip Completed,2016-07-11 11:51:00,11,Morning,Monday,1.0,NaN,NaN,1,1.0,NaN,Supply
1,1,867,Airport,1,Trip Completed,2016-07-11 17:57:00,17,Evening,Monday,1.0,NaN,NaN,1,1.0,NaN,Supply
2,2,1807,City,1,Trip Completed,2016-07-12 09:17:00,9,Morning,Tuesday,1.0,NaN,NaN,1,1.0,NaN,Supply
3,3,2532,Airport,1,Trip Completed,2016-07-12 21:08:00,21,Night,Tuesday,1.0,NaN,NaN,1,1.0,NaN,Supply
4,4,3112,City,1,Trip Completed,2016-07-13 08:33:16,8,Morning,Wednesday,1.0,NaN,NaN,1,1.0,NaN,Supply